body { 
	background: url(../img/fitness.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: white; /*ist weiss*/
}

.container {
	padding-bottom: 7vh;
}

.center {
	margin: 0 auto;
	align: center;
	text-align: center;
}

.formwrap {
	width: 50%;
	color:white;
}

.btn-link {
	color: white;
}

#nav-container {
	opacity: 1;
	transition: opacity 1s;
}

#nav-container.fixed {
	opacity: 0.8;
	width:100%;
	position: fixed;
	top:0;
	z-index: 99;
}

#page-header {
	text-align: center;
	color:white;
}

#overview {
	color:black;
	background: #EEE;
	height:100%;
}

#datepicker {
	display: inline-block;
	border-radius: 4px;
	background: #EEE;
	color:black;
}

#placeholder {
	height:500px;
	background: red;
}

#aktpwd {
	background-color: #9fe7b6;
}
input::placeholder {
  color: black;
}

footer {
  position: fixed;
  padding: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  background: black;
}

