body { 
	background: url(../fitness.jpeg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color: white; /*ist weiss*/
}
.center {
	margin: 0 auto;
	align: center;
	text-align: center;
}

.formwrap {
	width: 50%;
}

.btn-link {
	color: white;
}

#nav-container {
	opacity: 1;
	transition: opacity 1s;
}

#nav-container.fixed {
	opacity: 0.8;
	width:100%;
	position: fixed;
	top:0;
	z-index: 99;
}

#overview {
	color:black;
	background: #EEE;
	height:100%;
}

#datepicker {
	display: inline-block;
	border-radius: 4px;
	background: #EEE;
	color:black;
}

#placeholder {
	height:500px;
	background: red;
}
